export(
binning,
binningplot, 
datatype, 
dcor2d,
discrete1d,
groups,
groups_maxplot,
iacorrgram,
iascaggram,
iascagpcp,
iaunivariate,
mergesdfdata,
multimod1d, 
outliertuk,
outlier1dv,
scaggram,
scag2sdf,  
sdf,
sdf_quicksort,
sdf_sort,
selectscat,
skew1d, 
splines2d,
varclust
)
useDynLib(mbgraphic)
importFrom(extracat,wdcor)
importFrom(parallel,mcmapply)
importFrom(grid,grid.newpage,grid.draw,unit.c)
importFrom(gridExtra,grid.arrange,arrangeGrob)
importFrom(mgcv,gam,s,predict.gam)
importFrom(hexbin,hexbin)
importFrom(scales,fullseq)
importFrom(diptest,dip,dip.test)
importFrom(seriation,seriate,get_order)
importFrom(Rcpp,evalCpp,cppFunction)
importFrom(GGally,ggparcoord,ggpairs)
importFrom(grDevices,rgb)
importFrom(utils,combn)
importFrom(dplyr,mutate,summarize,group_by)
import(shiny)
import(ggplot2)
importFrom(magrittr,"%>%")
import(scagnostics)
import(stats)
import(graphics)